<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.orange.tpms">
    <!-- 摄像头 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/> <!-- 网络 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> <!-- 读写 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- 振铃 -->
    <uses-permission android:name="android.permission.VIBRATE"/> <!-- Wifi相关 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".app.TPMSApp"
            android:allowBackup="true"
            android:icon="@mipmap/tpms_logo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/tpms_logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <!-- <activity android:name=".ue.activity.KtActivity"> -->
        <!-- </activity> -->
        <activity
                android:name=".ue.activity.KtActivity"
                android:screenOrientation="portrait"
                android:theme="@style/MainAppTheme"
                android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<action android:name="com.orange.tpms.ue.activity.MainActivity"/>-->
            </intent-filter>
        </activity>
        <!--<receiver android:name=".Brocast.BootBroadcastReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <service android:name=".FireBase.MyFirebaseService" android:enabled="true"
                 android:exported="false"
                 android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>